<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
</head>
<body>
    <header>
      chatbox
    </header>

    <div class="background">
        <div class="left">&#128172;</div>
        <div class="right">&#128149;</div>
        <div class="left">&#128525;</div>
        <div class="right">&#128521;</div>
        <div class="left">&#128172;</div>
    </div>

    <div class="formContainer">
      <form action="/enter" method="post">
        <fieldset>
          <legend>Enter Chatbox</legend>
          <div id="username_inputbox" class="inputbox">
            <input id="username" name="username" type="text" autocomplete="off" autofocus/>
            <div id="username_placeholder" class="placeholder">Username</div>
          </div>
          <button>Let's Chat</button>
        </fieldset>
      </form> 
    </div>

    

    <script src="./login.js"></script>
</body>
</html>