<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script> 
        let room = "<%= username %>";
        let username = room;
    </script>
    <script src="./socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./hamberger.css" />
    <link rel="stylesheet" href="./checkBox.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
</head>
<body>

    <div class="container">

        <header>
            <div id="nav-icon4">
                <span></span>
                <span></span>
                <span></span>
                <div id="totalCounter" class="">
                    <div></div>
                </div>
            </div>
            <div>
                chatbox - <%= username %>
            </div>
            
        </header>

        
        <div class="mainBox">
            <div class="users" id="users">
                <div class="searchUser">
                    <input 
                    type="text" 
                    name="search" 
                    id="search" 
                    placeholder="Search User"
                    autocomplete="off" />
                    <div class="searchIcon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="contacts" id="contacts">
                    
                </div>
            </div>
            <div class="text" id="text">
                <div class="name">
                    <div>To : <span id="toUser">...</span></div>  
                     
                    <div class="checkBoxContainer">
                        <input type="checkbox" name="mute" id="mute">
                        <label for="mute">mute sound</label>
                    </div> 
                </div>

                <div class="messages" id="messages">
                    <div class="center">
                        <span>No Messages Yet</span> 
                    </div>
                </div>

                <div class="input">
                    <input
                    name="message" 
                    id="message"
                    value=""
                    placeholder="Type Your Message Here ..."
                    autofocus
                    />

                    <div class="emoji">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </div>
                    <div class="send" id="sendIcon">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="status">
                    status : <span id="status">disconnected</span>
                </div>

                <!-- <div style="visibility:hidden;">
                    <span id="numberOfUsers">1 user</span> connected
                </div>  -->
            </div> 
        </div>
    </div>

    <script src="./jQueryCDN/jquery-3.4.1.min.js"></script>
    <script src="./hamberger.js"></script>
    <script src="./code.js"></script>
</body>
</html>