@font-face {
    font-family : VazirThin;
    src : url(./fonts/Vazir-Thin.ttf);
}

@font-face {
    font-family : Vazir;
    src : url(./fonts/Vazir.ttf);
}

body {
    margin : 0;
    font-family : Vazir;
    height : 100vh;
    box-sizing: border-box;
    overflow : hidden;
    background-color: rgb(223, 223, 223);
    --minimumWidth : 350px;
}

header {
    background-color : dodgerblue;
    color : white;
    display : flex;
    justify-content: center;
	align-items : center;
    height : 10vh;
    box-sizing: border-box;
    font-size : 1.4em;
    font-family: Tahoma;
    position : relative;
}

div.name {
    padding : 0.5em;
    font-family: Vazir;
    width : auto;
    min-width : var(--minimumWidth);
    height : 40px;
    display : flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
}

div.name label , div.name input {
    cursor : pointer;
}

div.container {
    /* border : 1px solid black; */
    display : flex;
    flex-direction : column;
    box-sizing: border-box;
    width : 70vw;
    margin : auto;
    min-width : 300px;
    height : 110vh;
    --spanColor : rgb(218, 218, 218);
    --edgeColor : rgb(218, 218, 218);
    --offset : -8px;
    --borderWidth : 10px;
    background-color: white;
    overflow-y : hidden;
}


div.mainBox {
    display : grid;
    grid-template-columns: 2fr 4fr;
    box-sizing: border-box;
    width : 100%;
}

div.users {
    box-sizing: border-box;
    height : 50vw;
    
}


div.searchUser {
    height : 40px;
}

div.searchUser input {
    width : 100%;
    height : 100%;
    box-sizing: border-box;
    padding-left : 10px;
    transition: 1s;
}

div.contact {
    width : 100%;
    height : 50px;
    padding : 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor : pointer;
    border : 1px solid gray;
    transition : 0.5s;
    user-select : none;
}

.activeContact {
    background-color: dodgerblue;
    color : white;
}

.danger {
    background-color: rgb(248, 84, 117);
    transition: 1s;
}

div.counter{
    display: flex;
    justify-content: center;
    align-content : center;
    background-color: red;
    color : white;
    box-sizing: border-box;
    width : 22px;
    height : 22px;
    border-radius: 50%;
    font-size : 0.9em;
}



div.contacts div.contact:hover {
    background-color : rgb(76, 165, 253);
    color : white;
}

div.messages {
    border : 1px solid black;
    box-sizing: border-box;
    width : 100%;
    min-width : var(--minimumWidth);
    height : 50vh;
    overflow-y: scroll;
    position : relative;
    scroll-behavior: smooth;
}


div.messages div.center {
    display : flex;
    justify-content: center;
    align-items : center;
    height : 100%;
}

div.messages div.center span {
    background-color: var(--spanColor);
    padding : 1em;
    border-radius: 10px;
}

div.left {
    display : flex;
    justify-content: flex-start;
    /* border : 1px solid black; */
}

div.right {
    display : flex;
    justify-content: flex-end;
    /* border : 1px solid black; */
}

div.left span , div.right span {
    padding : 0.5em 1em;
    background-color : var(--spanColor);
    border-radius : 5px;
    margin : 0.3em 1em;
    min-width : 10px;
}

div.left span {
    text-align : left;
    position : relative;
}

div.left span::before {
    content : ' ';
    position : absolute;
    left : var(--offset);
    top : 0;
    border-color : var(--edgeColor) transparent transparent  transparent;
    border-style: solid;
    border-width : var(--borderWidth);
    z-index : 0;
} 

div.right span {
    text-align : right;
    position : relative;
}

div.right span::before {
    content : ' ';
    position : absolute;
    right : var(--offset);
    top : 0;
    border-color : var(--edgeColor) transparent transparent  transparent;
    border-style: solid;
    border-width : var(--borderWidth);
    z-index : 0;
}

textarea {
    min-width : var(--minimumWidth);
    width : 100%;
    min-height : 20vh;
    max-height : 20vh;
    padding : 0.5em;
    box-sizing: border-box;
    font-family : Vazir;
    position : relative;
    border : 1px solid black;
}

div.input div.send {
    position : absolute;
}

div.status {
    height : 4vh;
    min-width : var(--minimumWidth);
    width : 100%;
    box-sizing: border-box;
}

@media only screen and (max-width : 900px) {
    div.container {
        width :80vw;
    }

    
}


@media only screen and (max-width : 800px) {
    div.container {
        width :90vw;
    }
}


@media only screen and (max-width : 700px) {
    div.container {
        width :100vw;
    }
}


@media only screen and (max-width : 500px) {
    div.container {
        width :100vw;
    }


    div.mainBox {
        grid-template-columns: 0px 6fr;
    }

    div.searchUser input {
        width : 100vw;
    }

    div.contacts div.contact {
        width : 100vw;
    }


    #nav-icon4 {
        display : block;
    }
}