@font-face {
    font-family : VazirThin;
    src : url(./fonts/Vazir-Thin.ttf);
}

@font-face {
    font-family : Vazir;
    src : url(./fonts/Vazir.ttf);
}

@font-face {
    font-family : UbuntuBold;
    src : url(./fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family : UbuntuRegular;
    src : url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family : UbuntuBold;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family : UbuntuBold;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family : UbuntuBold;
}
:-moz-placeholder { /* Firefox 18- */
    font-family : UbuntuBold;
}



body {
    margin : 0;
    font-family : UbuntuBold;
    height : 100vh;
    box-sizing: border-box;
    overflow : hidden;
    --minimumWidth : 350px;
    /* background-color: blue; */
    display : flex;
    justify-content: center;
    align-items : center;
}



div.container {
    /* border : 1px solid black; */
    display : grid;
    grid-template-rows : 10vh 90vh;
    grid-template-columns: 80vw;
    justify-content: center;
    align-content : center;
    box-sizing: border-box;
    margin : auto;
    --spanColor : rgb(218, 218, 218);
    --edgeColor : rgb(218, 218, 218);
    --offset : -8px;
    --borderWidth : 10px;
    background-color: red;
    overflow-y : hidden;
    min-width : var(--minimumWidth);
    height : 100vh;
}

header {
    background-color : dodgerblue;
    color : white;
    display : flex;
    justify-content: center;
	align-items : center;
    height : 10vh;
    box-sizing: border-box;
    font-size : 1.4em;
    font-family: UbuntuBold;
    position : relative;
}

div.name {
    padding : 0.5em;
    font-family: Vazir;
    width : auto;
    height : 40px;
    display : flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    background-color: orange;
    font-family : UbuntuBold;
}

div.name label , div.name input {
    cursor : pointer;
}




div.mainBox {
    display : grid;
    grid-template-columns: 2fr 4fr;
    box-sizing: border-box;
}

div.users {
    box-sizing: border-box;
    background-color : darkorchid;
    color : white;
}

div.usersForLowRes {
    box-sizing: border-box;
    background-color : darkorchid;
    color : white;
    position : absolute;
    z-index : 10;
    width : 70vw;
    height : 80vh;
    display : none;
}

div.mask {
    position : absolute;
    width : 100vw;
    height : 100vh;
    background-color: rgb(128, 128, 128,0.6);
    z-index : 5;
    display : none;
}

div.text {
    background-color : white;
    display: grid;
    grid-template-rows: auto 70vh auto auto;
}


div.searchUser {
    height : 40px;
    margin : 1em 1em;
    position : relative;
}

div.searchUser input {
    width : 100%;
    height : 100%;
    box-sizing: border-box;
    padding-left : 20px;
    transition: 0.5s;
    border-radius : 30px;
    border : none;
    /* background-color : rgb(238, 238, 238); */
    outline : 0;
    font-family : Vazir;
}

div.searchIcon {
    position : absolute;
    right : 20px;
    top : 50%;
    transform: translateY(-50%);
    color : gray;
}

div.contact {
    width : 100%;
    height : 60px;
    padding : 0.6em 1.5em 0.6em 0.6em;
    display : flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor : pointer;
    border-bottom : 1px solid gray;
    transition : 0.2s;
    user-select : none;
    font-family : Vazir;
    position : relative;
}

div.avatar {
    padding : 1em 0.5em;
    font-size : 1.7em;
}

div.userInfo {
    padding : 0.4em 0.1em;
    display : flex;
    flex-direction : column;
    flex : 1;
}

div.userInfo div.lastMessage {
    font-size : 0.8em;
}

.activeContact {
    background-color: dodgerblue;
    color : white;
}

.danger {
    background-color: rgb(251, 160, 178);
    transition: 0.5s;
}

div.counter{
    display: flex;
    justify-content: center;
    align-content : center;
    background-color: red;
    box-sizing: border-box;
    padding : 0.1em 0.1em 0 0.1em;
    width : 25px;
    height : 25px;
    color : white;
    font-size : 0.9em;
    border-radius : 50%;
}


div.contacts div.contact:hover {
    background-color : rgb(76, 165, 253);
    color : white;
}

div.messages {
    /* border : 1px solid black; */
    background-color : darkcyan;
    box-sizing: border-box;
    width : 100%;
    overflow-y: scroll;
    position : relative;
    scroll-behavior: smooth;
    font-family : Vazir;
}


div.messages div.center {
    display : flex;
    justify-content: center;
    align-items : center;
    height : 100%;
}

div.messages div.center span {
    background-color: var(--spanColor);
    padding : 1em;
    border-radius: 10px;
}

div.left {
    display : flex;
    justify-content: flex-start;
    /* border : 1px solid black; */
}

div.right {
    display : flex;
    justify-content: flex-end;
    /* border : 1px solid black; */
}

div.left span , div.right span {
    padding : 0.5em 1em;
    background-color : var(--spanColor);
    border-radius : 5px;
    margin : 0.3em 1em;
    min-width : 10px;
}

div.left span {
    text-align : left;
    position : relative;
}

div.left span::before {
    content : ' ';
    position : absolute;
    left : var(--offset);
    top : 0;
    border-color : var(--edgeColor) transparent transparent  transparent;
    border-style: solid;
    border-width : var(--borderWidth);
    z-index : 0;
} 

div.right span {
    text-align : right;
    position : relative;
}

div.right span::before {
    content : ' ';
    position : absolute;
    right : var(--offset);
    top : 0;
    border-color : var(--edgeColor) transparent transparent  transparent;
    border-style: solid;
    border-width : var(--borderWidth);
    z-index : 0;
}

div.input {
    position : relative;
}

input#message {
    width : 100%;
    padding : 0.5em 0.5em;
    box-sizing: border-box;
    font-family : Vazir;
    font-size : 1.1em;
    position : relative;
    border : 1px solid black;
}

div.input div.send , div.input div.emoji {
    position : absolute;
    top : 50%;
    right : 20px;
    cursor : pointer;
    transform : translateY(-50%);
}

div.input div.emoji {
    right : 50px;
}

div.input div.send:hover , div.input div.emoji:hover {
    color : dodgerblue;
}

div.status {
    padding : 0.3em 0.5em;
    width : 100%;
    box-sizing: border-box;
    background-color : olivedrab;
    display : flex;
    justify-content: flex-start;
    align-items : center;
    font-family : UbuntuBold;
}




@media only screen and (max-width : 900px) {
    div.container {
        grid-template-columns: 80vw;
    }

    
}


@media only screen and (max-width : 800px) {
    div.container {
        grid-template-columns: 90vw;
    }
}


@media only screen and (max-width : 700px) {
    div.container {
        grid-template-columns: 100vw;
    }
}


@media only screen and (max-width : 500px) {
    div.container {
        grid-template-columns: 100vw;
    }


    div.mainBox {
        grid-template-columns: 6fr;
    }
	
	div.users {
		display : none;
	}


    #nav-icon4 {
        display : block;
    }
}

